

    <nav class="navbar navbar-expand-lg navbar-dark  static-top" style="background:black">
            <div class="container">
                  <nav class="navbar navbar-light ">
                          <span class="navbar-brand mb-0 h1">Issue Tracking Tool</span>
                        </nav>
             </div>
          </nav>


<div class="container">
        <div class="row">
          <div style="margin-top: 8vh;" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-info">
        
              <div class="card-body text-center">
                <div class="text-center">
                  
                    <div >
                        <h5> <span style="color:Tomato">Oops! </span></h5>
                        <h3>Internal Server Error</h3>
                    </div>
                    
                      <div >
                          <h1> <span style="color:red "> 500 :(   </span> </h1>
                        </div>
    
                        <div >
                               </div>
                          
                      
                  
                  <div>
                      
                  </div>
           
                </div>
              </div>
        
              <div class="card-footer text-center">
                <div class="col-md-12 control">
                    <button type="button" class="btn" (click)="goToLogin()">
                        Redirect to Login Page
                      </button>
                    
                </div>
              </div>
        
            </div>
        
          </div>
        
        </div>
      </div>
      